---
layout: default
title: Lazrjet
---

<div class="container-fluid" id="main-container">

	<div class="row">
		<div class="col-sm-8" id="primary-column">
	  
	   {% for post in site.categories.blog %}
			<article class="post">
				<div class="post-header">
					<h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
			  		<!--<div class="date">{{ post.date | date: '%B %d, %Y' }}</div> -->
					<!-- <img class="img-fluid" src="{{ site.baseurl }}/img/post-image-example.jpg" /> -->

					{% if post.youtube %}

					<iframe class="youtube" src="https://www.youtube.com/embed/{{ post.youtube }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

					{% else %}

					<img class="img-fluid" src="{{ site.baseurl }}/assets/{{ post.image }}" />
					
					{% endif %}

				</div>

				{{post.content}}

			<div class="article-divider" />
			<hr />
				<a href="{{ site.baseurl }}{{ post.url }}">PERMALINK</a>

				
			</div>
			</article> <!-- /post -->
	 
		{% endfor %}

		</div>
	  


		{% include sidebar.html %}


	</div> <!-- /row -->

</div>


