---
layout: default
title: Lazrjet | Music
---

<div class="container-fluid" id="main-container">

	<div class="row">
		<div class="col-sm-8" id="primary-column">




			<!--  <h1 class="mb-5">Music</h1> -->

			<div class="row">

 				{% for post in site.categories.music %}

				<div class="col-sm-6">
					<div class="release-detail">
						<a href="{{ site.baseurl }}{{ post.url }}">
							<img class="img-fluid desaturate" src="{{ site.baseurl }}/assets/{{ post.image }}" />
						</a>
						<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
						<!-- <p> Lorem ipsum</p> -->
					</div>
				</div>

				{% endfor %}

			</div>

		</div>
	  

		{% include sidebar.html %}

	</div> <!-- /row -->

</div>


