
	{% include header.html %}

  	{% include nav.html %}

  	<div class="container-fluid" id="main-container">

	<div class="row">
		<div class="col-sm-8" id="primary-column">

				<article class="post">
				<div class="post-header">
					<h1>{{ page.title }}</h1>
			  		<div class="date">{{ page.date | date: '%B %d, %Y' }}</div>

			  		{% if page.soundcloud %}

			  		<iframe class="soundcloud" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.soundcloud }}&amp;color=%23000000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=false&amp;visual=true"></iframe>

			  		{% else %}

					<img class="img-fluid" src="{{ site.baseurl }}/assets/{{ page.image }}" />

					{% endif %}
					
				</div>

				{{ content }}

			</article> <!-- /post -->

	</div>
	  


		<div class="col-sm-4" id="sidebar">

			<div class="about">
				<p>Marc Langsman (@lazrjet) is a designer and electronic music producer living near&nbsp;London</p>
			</div> <!-- /about -->

			<div class="subscribe">
				<h2>SUBSCRIBE</h2>
				<p>Look good and sound great with fresh music, design and creative inspiration to jazz up your&nbsp;inbox.</p>
				<form  class="subscribe-form justify-content-center d-flex flex-column">
					<input type="text" placeholder="Your Name" name="name" />
					<input type="text" placeholder="Your Email" name="email" />
					<button type="button" class="btn btn-primary">SUBSCRIBE</button>
				</form>
			</div>
		</div>
	</div> <!-- /row -->

</div>


	{% include footer.html %}

